**/Knapsack_solution_for_Resource_Allocation_cache/*
.Rhistory
02\ -\ Notebook\ Allocation\ Optimization.pptx
Knapsack\ solution\ for\ Resource\ Allocation.Rmd
Knapsack_solution_for_Resource_Allocation.html
Knapsack_solution_for_Resource_Allocation.md
